<!--This launch file is intended to use locally-->
<launch>
  <!--The java node to be launched-->
  <arg name="javanode"/>

  <!--Launch the tum simulator without gui-->
  <include file="$(find cvg_sim_gazebo)/launch/no_gui_ardrone_empty_world.launch"/>

  <!--Launch the java node. The main class must extend TumExampleFlightFacade.-->
  <node pkg="rats" type="BeSwarm" name="BeSwarm"
        args="$(arg javanode)" output="screen">

    <!--The durationInSeconds for the trajectory. This is an optional parameter. If you want to use the
    default durationInSeconds from the choleography then comment the below line.-->
    <param name="trajectory_duration_in_seconds" value="60.0"/>

    <!--Parameters for fake localization-->
    <param name="localization_frequency" value="15.0"/>
    <param name="localization_noise_mean" value="0.0"/>
    <param name="localization_noise_deviation" value="0.5"/>
    <param name="localization_noise_seed" value="123"/>
    <!--Number of poses to be averaged-->
    <param name="localization_average_poses" value="1"/>

    <!--Parameters for velocity service filter-->
    <!--The values of this param can be: none, min, max, cascade. This corresponding to no filter,
    min difference velocity filter, maximum difference velocity filter, and cascade filter that
    uses both min and max filters.-->
    <param name="velocity_filter" value="none"/>
    <!--The min velocity difference used by min difference velocity filter-->
    <param name="min_diff" value="0.000015"/>
    <!--The max velocity difference used by max difference velocity filter-->
    <param name="max_diff" value="0.001"/>
    <!--The cascade delta value used by cascade filter-->
    <param name="cascade_delta" value="0.001"/>

    <!--Parameters for pid controllers-->
    <param name="pid_lag_time_in_seconds" value="0.1"/>

    <param name="pid_control_frequency" value="20.0"/>

    <!--Parameters for pid filter. The value of this param can be: true (use the filter) or false
     (don't use the filter)-->
    <param name="pid_co_filter" value="false"/>
    <!--The time constant for the pid co filter.-->
    <param name="pid_co_filter_time_constant" value="1.0"/>

    <param name="pid_linear_x_kp" value="2.0"/>
    <param name="pid_linear_x_kd" value="1.0"/>
    <param name="pid_linear_x_ki" value="0.0"/>

    <param name="pid_linear_y_kp" value="2.0"/>
    <param name="pid_linear_y_kd" value="1.0"/>
    <param name="pid_linear_y_ki" value="0.0"/>

    <param name="pid_linear_z_kp" value="2.0"/>
    <param name="pid_linear_z_kd" value="1.0"/>
    <param name="pid_linear_z_ki" value="0.0"/>

    <param name="pid_angular_z_kp" value="1.5"/>
    <param name="pid_angular_z_kd" value="0.75"/>
    <param name="pid_angular_z_ki" value="0.0"/>
  </node>

</launch>