<launch>
  <arg name="javanode"/>
  <arg name="drone_name"/>
  <arg name="takeoff_time_in_secs"/>
  <arg name="start_flying_time_in_secs"/>
  <arg name="time_sync_topic"/>
  <arg name="pose_topic"/>

  <include file="$(find bebop_tools)/launch/joy_teleop.launch"/>

  <node pkg="rats" type="BeSwarm" name="BeSwarm" args="$(arg javanode)" output="screen">
    <param name="drone_name" value="$(arg drone_name)"/>
    <param name="takeoff_time_in_secs" value="$(arg takeoff_time_in_secs)"/>
    <param name="start_flying_time_in_secs" value="$(arg start_flying_time_in_secs)"/>
    <param name="time_sync_topic" value="$(arg time_sync_topic)"/>
    <param name="pose_topic" value="$(arg pose_topic)"/>

    <param name="control_frequency_in_hz" value="40.0"/>
    <param name="pid_lag_time_in_seconds" value="1.0"/>

    <param name="pid_linear_x_kp" value="0.3"/>
    <param name="pid_linear_x_kd" value="1.0"/>
    <param name="pid_linear_x_ki" value="0.0"/>

    <param name="pid_linear_y_kp" value="0.3"/>
    <param name="pid_linear_y_kd" value="1.0"/>
    <param name="pid_linear_y_ki" value="0.0"/>

    <param name="pid_linear_z_kp" value="0.8"/>
    <param name="pid_linear_z_kd" value="0.2"/>
    <param name="pid_linear_z_ki" value="0.0"/>

    <param name="pid_angular_z_kp" value="0.3"/>
    <param name="pid_angular_z_kd" value="0.4"/>
    <param name="pid_angular_z_ki" value="0.0"/>
  </node>

  <!-- records flight -->
  <node pkg="rosbag" type="record" name="rosbag_record_all"
        args="/bebop/image_raw /bebop/cmd_vel /bebop/odom /tf /bebop/camera_info /arlocros/pose"/>

  <node pkg="rostopic" type="rostopic" name="point camera downwards"
        args="pub /bebop/camera_control geometry_msgs/Twist '[0.0,0.0,0.0]' '[.00,-50.0,0.0]'"
        output="screen"/>
</launch>
