<launch>
  <!--Arguments-->
  <arg name="drone_name"/>
  <arg name="drone_ip"/>
  <arg name="pose_topic_name"/>
  <arg name="machine_name"/>

  <!--Dependent launch files-->
  <!--Localization-->
  <include file="$(find rats)/ARLocROS/launch/bebop.launch">
    <arg name="drone_name" value="$(arg drone_name)"/>
    <arg name="machine_name" value="$(arg machine_name)"/>
  </include>

  <!--ROS driver-->
  <include file="$(find bebop_driver)/launch/bebop_node.launch">
    <arg name="namespace" value="$(arg drone_name)"/>
    <arg name="ip" value="$(arg drone_ip)"/>
    <arg name="machine_name" value="$(arg machine_name)"/>
  </include>

  <!-- records flight -->
  <node machine="$(machine_name)" pkg="rosbag" type="record" name="rosbag_record_all"
        args="/$(arg drone_name)/image_raw /$(arg drone_name)/cmd_vel /$(arg drone_name)/odom /tf /$(arg drone_name)/camera_info /$(arg pose_topic_name)"/>

  <node machine="$(machine_name)" pkg="rostopic" type="rostopic" name="point camera downwards"
        args="pub /$(arg drone_name)/camera_control geometry_msgs/Twist '[0.0,0.0,0.0]' '[.00,-50.0,0.0]'"
        output="screen"/>
</launch>
