<launch>
	<include file="$(find rosjava_catkin_package_a)/ARLocROS/launch/bebop.launch" />
    <include file="$(find bebop_driver)/launch/bebop_node.launch" />
    <include file="$(find bebop_tools)/launch/joy_teleop.launch" />

	<!-- Main Java Application -->
    <node pkg="rosjava_catkin_package_a" type="BebopRosJava" name="BebopLinePattern" args="applications.parrot.bebop.BebopSimpleLinePattern" output="screen">
        <param name="pose_topic" value="arlocros/pose" />
    </node>
    

    <node pkg="rostopic" type="rostopic" name="point_camera_downwards" 
    	args="pub /bebop/camera_control geometry_msgs/Twist '[0.0,0.0,0.0]' '[.00,-50.0,0.0]'" output="screen"/>

</launch>
