<!--This launch file is intended to use locally-->
<launch>
  <!--The java node to be launched-->
  <arg name="javanode"/>

  <!--Launch the tum simulator without gui-->
  <include file="$(find cvg_sim_gazebo)/launch/no_gui_ardrone_empty_world.launch"/>

  <!--Launch the java node. The main class must extend TumExampleFlightFacade.-->
  <node pkg="agentwise_bebop" type="BeSwarmTumSim" name="BeSwarmTumSim"
        args="$(arg javanode)" output="screen"/>
  
</launch>