<!--This launch file is intended to use locally-->
<launch>
  <!--The java node to be launched-->
  <arg name="javanode"/>

  <!--Launch the tum simulator without gui-->
  <include file="$(find cvg_sim_gazebo)/launch/no_gui_ardrone_empty_world.launch"/>

  <!--Launch the java node. The main class must extend TumExampleFlightFacade.-->
  <node pkg="agentwise_bebop" type="BeSwarm" name="BeSwarm"
        args="$(arg javanode)" output="screen">

    <!--The duration for the trajectory. This is an optional parameter. If you want to use the
    default duration from the choleography then comment the below line.-->
    <param name="trajectory_duration_in_seconds" value="60"/>

    <!--Parameters for fake localization-->
    <param name="localization_frequency" value="15.0"/>
    <param name="localization_noise_mean" value="0.0"/>
    <param name="localization_noise_deviation" value="0.5"/>
    <param name="localization_noise_seed" value="123"/>

    <!--Parameters for pid controllers-->
    <param name="pid_lag_time_in_seconds" value="1.0"/>

    <param name="pid_linear_x_kp" value="2.0"/>
    <param name="pid_linear_x_kd" value="1.0"/>
    <param name="pid_linear_x_ki" value="0.0"/>

    <param name="pid_linear_y_kp" value="2.0"/>
    <param name="pid_linear_y_kd" value="1.0"/>
    <param name="pid_linear_y_ki" value="0.0"/>

    <param name="pid_linear_z_kp" value="2.0"/>
    <param name="pid_linear_z_kd" value="1.0"/>
    <param name="pid_linear_z_ki" value="0.0"/>

    <param name="pid_angular_z_kp" value="1.5"/>
    <param name="pid_angular_z_kd" value="0.75"/>
    <param name="pid_angular_z_ki" value="0.0"/>
  </node>

</launch>